### 4.6.2 IC  Importing libraries
#### 1 Importing libraries
#### 2 Importing files
#### 3 Merging the dfs
#### 4 Checking by using merge flag
#### 5 Checking without rewriting df
#### 6  Exporting the newly created dataframe as orders_products_merged

### 1 Importing libraries

In [1]:
import pandas as pd
import numpy as np
import os

### 2 Importing files

In [2]:
path = r'C:\Users\user\11-2023 Real Estate Sales Connecticut\Data'

In [4]:
df = pd.read_csv(os.path.join(path, 'Prepared Data','realestate_cluster.csv'), index_col=0)

In [6]:
df.head(2)

,Assessed Value,Sale Amount,Sales Ratio,Sale_Amount_Zscore,clusters,cluster
Serial Number,,,,,,
2020348,150500.0,325000.0,0.4630,-0.040765,0,red
20002,253000.0,430000.0,0.5883,0.033112,0,red

In [5]:
df_s = pd.read_csv(os.path.join(path, 'Prepared Data','realestate_sold.csv'), index_col=0)

In [7]:
df_s.head(2)

,Serial Number,List Year,Town,Address,Assessed Value,Sale Amount,Sales Ratio,Property Type,Residential Type,Year of Sale,Month of Sale,Sale_Amount_Zscore
0,2020348,2020,Ansonia,230 WAKELEE AVE,150500.0,325000.0,0.4630,Commercial,Non Residental,2021,9,-0.040765
1,20002,2020,Ashford,390 TURNPIKE RD,253000.0,430000.0,0.5883,Residential,Single Family,2020,10,0.033112

### 3. merging the dfs

In [9]:
df_merged=df.merge(df_s, on=['Serial Number','Sale Amount','Assessed Value', 'Sales Ratio', 'Sale_Amount_Zscore'], how='inner', indicator=True)

In [10]:
df_merged

,Serial Number,Assessed Value,Sale Amount,Sales Ratio,Sale_Amount_Zscore,clusters,cluster,List Year,Town,Address,Property Type,Residential Type,Year of Sale,Month of Sale,_merge
0,2020348,150500.0,325000.0,0.463000,-0.040765,0,red,2020,Ansonia,230 WAKELEE AVE,Commercial,Non Residental,2021,9,both
1,20002,253000.0,430000.0,0.588300,0.033112,0,red,2020,Ashford,390 TURNPIKE RD,Residential,Single Family,2020,10,both
2,200212,130400.0,179900.0,0.724800,-0.142855,0,red,2020,Avon,5 CHESTNUT DRIVE,Residential,Condo,2021,3,both
3,200243,619290.0,890000.0,0.695800,0.356761,0,red,2020,Avon,111 NORTHINGTON DRIVE,Residential,Single Family,2021,4,both
4,200377,862330.0,1447500.0,0.595700,0.749010,0,red,2020,Avon,70 FAR HILLS DRIVE,Residential,Single Family,2021,7,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995227,190272,60410.0,53100.0,1.137665,-0.232070,0,red,2019,New London,4 BISHOP CT,Single Family,Single Family,2020,6,both
995228,190284,68280.0,76000.0,0.898400,-0.215958,0,red,2019,Waterbury,126 PERKINS AVE,Single Family,Single Family,2019,11,both
995229,190129,121450.0,210000.0,0.578300,-0.121677,0,red,2019,Windsor Locks,19 HATHAWAY ST,Single Family,Single Family,2020,4,both
995230,190504,203360.0,280000.0,0.726300,-0.072426,0,red,2019,Middletown,8 BYSTREK DR,Single Family,Single Family,2020,6,both
995231,190344,4035970.0,7450000.0,0.541700,4.972284,0,red,2019,Milford,250 RESEARCH DR,Non Indicated,Non Indicated,2019,12,both

In [26]:
### Checking for duplicates:
dups = df_merged.duplicated()
dups.shape # No dups

(995232,)

In [27]:
### Checking for missing values:
df.isnull().sum()   # No missing values to handle

Assessed Value        0
Sale Amount           0
Sales Ratio           0
Sale_Amount_Zscore    0
clusters              0
cluster               0
dtype: int64

###  Taking in consideration the size of dfs I prefer to do outer merge

In [15]:
### saving df_merged
df_merged.to_pickle(os.path.join(path,'Prepared Data','realestate_merged.pkl'))

### 4. Checking by using merge flag:

In [14]:
df_merged['_merge'].value_counts()

_merge
both          995232
left_only          0
right_only         0
Name: count, dtype: int64

## 5. Creating df for each cluster and saving df

In [21]:
### creating df for cluster 4:
df_cluster4=df_merged[df_merged['clusters']==4]
### saving df:
df_cluster4.to_csv(os.path.join(path,'Prepared Data','realestate_cluster4.csv'))

In [18]:
df_cluster4.shape

(867, 15)

In [23]:
### creating df for cluster 3:
df_cluster3=df_merged[df_merged['clusters']==3]
### saving df :
df_cluster3.to_csv(os.path.join(path,'Prepared Data','realestate_cluster3.csv'))
### checking shape:
df_cluster3.shape

(2, 15)

In [24]:
### creating df for cluster 1:
df_cluster1=df_merged[df_merged['clusters']==1]
### saving df :
df_cluster1.to_csv(os.path.join(path,'Prepared Data','realestate_cluster1.csv'))
### checking shape:
df_cluster1.shape

(868, 15)

In [25]:
### creating df for cluster 2:
df_cluster2=df_merged[df_merged['clusters']==2]
### saving df :
df_cluster2.to_csv(os.path.join(path,'Prepared Data','realestate_cluster2.csv'))
### checking shape:
df_cluster2.shape

(6109, 15)

In [28]:
### creating df for cluster 0:
df_cluster0=df_merged[df_merged['clusters']==0]
### saving df :
df_cluster0.to_csv(os.path.join(path,'Prepared Data','realestate_cluster0.csv'))
### checking shape:
df_cluster0.shape

(987386, 15)